{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container" style="width:80%; margin-left:20%; max-width:80%;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bigTitle" style="text-align: right;">MON ANNONCE</h2>
                <hr>
                <div class="form">
                    {{ form_start(edit_form)}}
                    {{ form_widget(edit_form.title, {'attr' : {'class' : 'champ', 'placeholder' : 'titre'}}) }}
                    {{ form_widget(edit_form.description, {'attr' : {'class' : 'champ', 'placeholder' : 'description'}}) }}
                    {{ form_widget(edit_form.type, {'attr' : {'class' : 'champ', 'placeholder' : 'type'}}) }}
                    {{ form_widget(edit_form.picture, {'attr' : {'class' : 'champ', 'placeholder' : 'picture'}}) }}
                    <div>
                        <input class="bouton" style="margin-bottom:150px;"type="submit" value="Envoyer" />
                    </div>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}