{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <style>
        .row{
            margin:25px;
        }
        .ad{
            background-color: white;
        }
    </style> <!-- TODO: mettre dans main et vérifier compatibilité -->
    <div class="container" id="announcment" style="width:80%; margin-left:20%; max-width:80%; min-height:100%; background-color: #ededed;">
        <div class="row" style="text-align:center; background-color: white; position:relative;">
            <br/>
            <a class="btn btn-large btn-danger" href="{{ path('social_my_announcment') }}">Mes annonces</a>
            <br/><br/>
            <form  action="{{ path("social_announcment_search") }}" method="post">
                <select name="type" class="champ" style="width: 30%;">
                    <option>Achat</option>
                    <option>Vente</option>
                    <option>Echange</option>
                    <option>Don</option>
                </select>
                <select name="town" class="champ" style="width: 30%;">
                    <option>Paris</option>
                    <option>Bordeaux</option>
                    <option>Nantes</option>
                    <option>Lille</option>
                    <option>Marseille</option>
                    <option>Lyon</option>
                </select>
                <input style="width: 30%;" class="champ" type="text" id="lieu" name="name" placeholder="nom de l'annonce"/>
                <button class="btn" type="submit" style="background-color: lightgrey; padding: 15px;"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="row">
            {% for ad in announcments %}
                <div class="col-md-2 ad" style="border: 1px solid grey; border-radius: 5px; height: 300px; text-align: center;">
                    {% if ad.type == "Vente" %}
                        <div style="background-color: forestgreen; width:50%; margin-left: 42px; height:30px; margin-top: -15px; border-radius:5px; margin-bottom: 5px;"><p style="padding-top: 5px;">Vente</p></div>
                    {% elseif ad.type == "Achat" %}
                        <div style="background-color: lightskyblue; width:50%; margin-left: 42px; height:30px; margin-top: -15px; border-radius:5px; margin-bottom: 5px;"><p style="padding-top: 5px;">Achat</p></div>
                    {% elseif ad.type == "Don" %}
                        <div style="background-color: orange; width:50%; margin-left: 42px; height:30px; margin-top: -15px; border-radius:5px; margin-bottom: 5px;"><p style="padding-top: 5px;">Don</p></div>
                    {% elseif ad.type == "Echange" %}
                        <div style="background-color: indianred; width:50%; margin-left: 42px; height:30px; margin-top: -15px; border-radius:5px; margin-bottom: 5px;"><p style="padding-top: 5px;">Échange</p></div>
                    {% endif %}
                    <div style="height:40%;">
                        <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset(ad.picture.uploadRootDir  ~ ad.picture.id ~ '.' ~ ad.picture.alt) }}">
                    </div>
                    <div style="height:50%;">
                        <p>{{ ad.title }}</p>
                        <p>{{ ad.description }}</p>
                        <p>{{ ad.offerer.agency.localisation }}</p>
                        <a href="{{ path('social_announcment_apply', {'id' : ad.id}) }}" class="btn btn-danger">Contacter</a>
                    </div>
                </div>
                {% if loop.index % 4 == 0 %}
                    <div class="row" style="margin-top:25px;"></div>
                {% elseif loop.index % 2 == 0 %}
                    <div class="col-md-2"></div>
                {% else %}
                    <div class="col-md-1"></div>
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}
