{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}

    <div class="container" style="width:80%; margin-left:20%; max-width:80%;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bigTitle" style="text-align: right;">NOUVELLE PHOTO</h2>
                <hr>
                <div class="form">
                    {{ form_start(form)}}
                    {{ form_widget(form.nameShow, {'attr' : {'class' : 'champ', 'placeholder' : 'Titre de la photo'}}) }}
                    {{ form_widget(form.file, {'attr' : {'class' : 'champ'}}) }}
                    <div>
                        <input class="bouton" style="margin-bottom:150px;"type="submit" value="Envoyer" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}
