<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Charlestown{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/charlestowncore/css/*' filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.css">
        <link media="print" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.print.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.css">
        {% if is_granted('ROLE_ADMIN') %}
            <link rel="stylesheet" href="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        {% endif %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
</head>
<body id="body" style="height:100%;">
{% block body %}
{% endblock %}
{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
    <script type="text/javascript" src="/bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js"></script>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% if is_granted('ROLE_ADMIN') %}
    <script type="text/javascript" src="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    {% endif %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/lang/fr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>

    {% javascripts '@CharlestownCoreBundle/Resources/public/js/main.js'
    '@CharlestownCoreBundle/Resources/public/js/navAccordion.min.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        /* Accordion menu */
        var lastpgurl = "";
        jQuery(document).ready(function(){
            $("html").niceScroll();
            $(".charlestown-scrollable").niceScroll({cursorcolor:"#CFCFCF", cursorborderradius : "1px"});
            jQuery('.mainNav').navAccordion({
                        expandButtonText: '<i class="fa fa-plus"></i>',
                        collapseButtonText: '<i class="fa fa-minus"></i>'
                    },
                    function(){
                    });
            var pgurl;
            {% if app.environment == "prod" %}
            pgurl = window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            {% else %}
            pgurl = "/CharlestownNew/web/app_dev.php/" + window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            {% endif %}
            lastpgurl = pgurl;
            if(lastpgurl == "/CharlestownNew/web/app_dev.php/collaborateur" || lastpgurl == "/collaborateur"){ //check en prod
                $("#newsli a").addClass("active");
                lastpgurl = lastpgurl + "#news";
            }
            $("#navigator ul li a").each(function(){
                if($(this).attr("href") == pgurl || $(this).attr("href") == '' ) $(this).addClass("active");
            });
        });
        $(window).on('hashchange', function(e){
            var pgurl;
            {% if app.environment == "prod" %}
            pgurl = window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            {% else %}
            pgurl = "/CharlestownNew/web/app_dev.php/" + window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            {% endif %}
            $("#navigator ul li a").each(function(){
                if($(this).attr("href") == pgurl || $(this).attr("href") == '' ) $(this).addClass("active");
                if($(this).attr("href") == lastpgurl || $(this).attr("href") == '' ) $(this).removeClass("active");
            });
            lastpgurl = pgurl;
        });
        /* endAccordion menu */

        /* Handle profil photo button visibility */
        $("#profilPhoto").hover(function(){$("#buttonPhoto").css('visibility', 'visible');}, function(){$("#buttonPhoto").css('visibility', 'hidden');});
        $("#buttonPhoto").hover(function(){$("#buttonPhoto").css('visibility', 'visible');});
        /* endHandle profil photo button visibility */
    </script>
{% endblock %}
</body>
</html>
