<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Charlestown{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.css">
            {% stylesheets 'bundles/charlestowncore/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="height: 100%;  ">
            {% block body %}
            <div class="container">
            </div>
            {% endblock %}

        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.js"></script>
            <script src="{{ asset('bundles/charlestowncore/js/vegas.min.js.map') }}"></script>
            <script src="{{ asset('bundles/charlestowncore/js/vegas.js') }}"></script>
            <script src="{{ asset('bundles/charlestowncore/js/vegas.min.js') }}"></script>
            <script src="{{ asset('bundles/charlestowncore/js/main.js') }}"></script>
            <script src="{{ asset('bundles/charlestowncore/js/jquery.fullPage.js') }}"></script>
            <script>$("body").vegas({
                    delay: 7000,
                    timer: false,
                    shuffle: true,
                    transition: 'zoomOut2',
                    transitionDuration: 2000,
                    slides: [
                        { src: "../images/slide/bg1.jpg" },
                    ]
                });</script>
            <script>
                $(document).ready(function() {
                $('#fullpage').fullpage({
                //Navigation
                menu: '#menu',
                lockAnchors: false,
                anchors:['firstPage', 'secondPage'],
                navigation: false,
                navigationPosition: 'right',
                navigationTooltips: ['firstSlide', 'secondSlide'],
                showActiveTooltip: false,
                slidesNavigation: false,
                slidesNavPosition: 'bottom',

                //Scrolling
                css3: true,
                scrollingSpeed: 700,
                autoScrolling: true,
                fitToSection: true,
                fitToSectionDelay: 1000,
                scrollBar: false,
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                continuousVertical: false,
                normalScrollElements: '#element1, .element2',
                scrollOverflow: false,
                touchSensitivity: 15,
                normalScrollElementTouchThreshold: 5,

                //Accessibility
                keyboardScrolling: true,
                animateAnchor: true,
                recordHistory: true,

                //Design
                controlArrows: true,
                verticalCentered: true,
                resize : false,
                sectionsColor : ['#CC5500'],
                paddingTop: '3em',
                paddingBottom: '10px',
                fixedElements: '#header, .footer',
                responsiveWidth: 0,
                responsiveHeight: 0,

                //Custom selectors
                sectionSelector: '.section',
                slideSelector: '.slide',

                //events
                onLeave: function(index, nextIndex, direction){},
                afterLoad: function(anchorLink, index){},
                afterRender: function(){},
                afterResize: function(){},
                afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
                onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
                });
                });
            </script>
        {% endblock %}
    </body>
</html>
