{% extends 'CharlestownCollaboratorBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Coordonnées</h2>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Syndicat</th>
                <th>Agence</th>
                <th>Email</th>
                </thead>
                <tbody>
                {% for user in irp %}
                    <tr>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.syndicat }}</td>
                        <td>{{ user.agency.localisation }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
