<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Charlestown{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.css">
        {% stylesheets 'bundles/charlestowncore/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <style type="text/css">
        .mymenu li{
            display: inline-block;margin: 10px;color: #000;background: #fff;background: rgba(255,255,255, 0.5);-webkit-border-radius: 10px;border-radius: 10px;"
        }
        li.active{
            background: #666;!important;
            background: rgba(0,0,0, 0.5);!important;
            color: #fff;!important;
        }
        li.active a {
            color:white;!important;
        }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="height: 100%;">
<ul class="mymenu" style="position: fixed;top: 0px;left: 0;height: 40px;z-index: 70;width: 100%;padding: 0;margin: 0;">
    <a style="display: inline-block;margin: 10px;background: #fff;background: rgba(255,255,255, 0.5);color: #ffffff;-webkit-border-radius: 10px;border-radius: 10px;  padding: 9px 18px;" href="{{ path('index_collaborator') }}">Retour au site</a>
    <li data-menuanchor="firstPage" class="active"><a onclick="setActive('a')" id="a" style="color:white; padding: 9px 18px;display: block;" href="#firstPage">Sommaire</a></li>
    <li data-menuanchor="secondPage"><a onclick="setActive('b')" id="b"  style="color:white; padding: 9px 18px;display: block;" href="#secondPage">Menu Charlestown</a></li>
    <li data-menuanchor="3rdPage"><a onclick="setActive('c')" id="c" style="color:white; padding: 9px 18px;display: block;" href="#3rdPage">Mon espace</a></li>
    <li data-menuanchor="4thpage"><a onclick="setActive('d')" id="d"  style="color:white; padding: 9px 18px;display: block;" href="#4thpage">Pied de page</a></li>
</ul>
<div id="fullpage">
    <div class="section">
        <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: -10%;">Guide utilisateur</h1>
        <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
            <p>Pour accéder à ce guide, il faut cliquer sur le bouton [1] en bas à droite de l'interface</p>
            <p>Pour quitter à ce guide, il faut cliquer sur le bouton [2] en haut à gauche du guide</p>
            <p>Pour vous déplacer dans ce guide, il existe trois méthodes :</p>
            <ul>
                <li>Appuyez sur les touches directionnelles de votre clavier</li>
                <li>Utiliser la molette de la souris</li>
                <li>Cliquer sur les flèches à gauche [7] ou à droite [8] sur l'écran</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            {% if is_granted('ROLE_AE') %}
                <img src="{{ asset("images/presentation/menu_charlestown.png") }}" style="margin-top: -7%;margin-left: 20%;height: auto;width: 800px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;">Menu Charlestown</h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <p>Ce menu contient des informations sur la société Charlestown, ainsi que toutes les réponses à vos questions concernant votre poste</p>
                    <h3>Bienvenue</h3>
                    <ul>
                        <li>Nos activités: Présente les différentes activitées de Charlestown</li>
                        <li>Nos implantations: Présente les différentes agences Charlestown à travers la France</li>
                        <li>Polique salariale: Contient les informations relatives à la fiche de paie, la mutuelle, les indémnités et le titre de transport</li>
                        <li>Règles d'or: Contient les informations relatives aux consignes de présentations, la prise de poste, les absences, les congés et l'évolution professionnelle</li>
                        <li>Règlement intérieur: Vous permet de consulter et télécharger le règlement intérieur</li>
                    </ul>
                    <h3>Mes messions</h3>
                    <ul>
                        <li>Me former: Contient une liste des vidéos de formation ainsi qu'un lien vers la chaîne Youtube de Charlestown</li>
                        <li>Mon affectation: Contient les informations sur le client chez qui vous êtes affectés</li>
                        <li>Mes contacts: Contient une liste des contacts de l'agence qui s'occupe de vous</li>
                    </ul>
                </div>
            {% elseif is_granted('ROLE_EVENT') %}
                <img src="{{ asset("images/presentation/menu_charlestown_event.png") }}" style="margin-top: -7%;margin-left: 20%;height: auto;width: 800px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;">Menu Charlestown</h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <p>Ce menu contient des informations sur la société Charlestown, ainsi que toutes les réponses à vos questions concernant votre poste</p>
                    <h3>Bienvenue</h3>
                    <ul>
                        <li>Nos activités: Présente les différentes activitées de Charlestown</li>
                        <li>Nos implantations: Présente les différentes agences Charlestown à travers la France</li>
                        <li>Polique salariale: Contient les informations relatives à la fiche de paie, la mutuelle, les indémnités et le titre de transport</li>
                        <li>Règles d'or: Contient les informations relatives aux consignes de présentations, la prise de poste, les absences, les congés et l'évolution professionnelle</li>
                        <li>Règlement intérieur: Vous permet de consulter et télécharger le règlement intérieur</li>
                    </ul>
                    <h3>Utile</h3>
                    <ul>
                        <li>Fiche de paie: Explique le système illicoffre</li>
                        <li>Nos implantations: Présente les différentes agences Charlestown à travers la France</li>
                        <li>Polique salariale: Contient les informations relatives à la fiche de paie, la mutuelle, les indémnités et le titre de transport</li>
                        <li>Règles d'or: Contient les informations relatives aux consignes de présentations, la prise de poste, les absences, les congés et l'évolution professionnelle</li>
                        <li>Règlement intérieur: Vous permet de consulter et télécharger le règlement intérieur</li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="slide">
            {% if is_granted('ROLE_AE') %}
                <img src="{{ asset("images/presentation/menu_charlestown.png") }}" style="margin-top: -7%;margin-left: 20%;height: auto;width: 800px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;"></h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <h3>Utile</h3>
                    <ul>
                        <li>Fiche de paie: Explique le système illicoffre</li>
                        <li>Coordonées: Contient la liste des coordonées des différents service de Charlestown</li>
                    </ul>
                    <h3>Social</h3>
                    <ul>
                        <li>Soutien psychologique Eleas: document explicatif du soutien psychologique mis en place chez Charlestown</li>
                        <li>1% logement: lien vers le site cilgere concernant l'action 1% logement mis en place chez Charlestown</li>
                        <li>Comité d'entrepris: site internet, PV des CA et coordonnées du C.E de Charlestown</li>
                    </ul>
                </div>
            {% elseif is_granted('ROLE_EVENT') %}
                <img src="{{ asset("images/presentation/menu_charlestown_event.png") }}" style="margin-top: -7%;margin-left: 20%;height: auto;width: 800px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;"></h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <h3>Social</h3>
                    <ul>
                        <li>Soutien psychologique Eleas: document explicatif du soutien psychologique mis en place chez Charlestown</li>
                        <li>1% logement: lien vers le site cilgere concernant l'action 1% logement mis en place chez Charlestown</li>
                        <li>Comité d'entrepris: site internet, PV des CA et coordonnées du C.E de Charlestown</li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="section">
            {% if is_granted('ROLE_AE') %}
                <img src="{{ asset("images/presentation/menu_espace_deux.png") }}" style="margin-top: -7%;margin-left: 80%;height: auto;width: 230px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;">Menu Charlestown</h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <p>Ce menu contient vos informations et vous permet d'intéragir avec Charlestown et l'ensemble de la communauté des collaborateurs</p>
                    <h3>Mon espace</h3>
                    <ul>
                        <li>Mes informations: Récapitulatif de vos informations, permet aussi de changer sa photo de profil</li>
                        <li>Mes demandes: Récapitulatif de vos demandes, permet aussi de faire de nouvelles demandes à Charlestown (congé, rendez-vous, mobilité, formation)</li>
                        <li>Mes entretiens: Récapitulatif de vos entretiens, permet de télécharger un formulaire de demande de nouvel entretien</li>
                        <li>Boite à idées: Permet de déposer une idée d'amélioration à Charlestown</li>
                    </ul>
                    <h3>Le covoiturage: Permet de proposer ou postuler à un coivoiturage organisé par la communauté de Charlestown</h3>
                    <h3>Bourse aux compétences: Permet de proposer ou postuler à un cours organisé par la communauté de Charlestown</h3>
                    <h3>Bourse aux compétences: Permet de proposer ou répondre à une annonce émise par la communauté de Charlestown</h3>
                </div>
            {% elseif is_granted('ROLE_EVENT') %}
                <img src="{{ asset("images/presentation/menu_espace_deux.png") }}" style="margin-top: -7%;margin-left: 80%;height: auto;width: 230px;">
                <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;">Menu Charlestown</h1>
                <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
                    <p>Ce menu contient vos informations et vous permet d'intéragir avec Charlestown et l'ensemble de la communauté des collaborateurs</p>
                    <h3>Mon espace</h3>
                    <ul>
                        <li>Mes informations: Récapitulatif de vos informations, permet aussi de changer sa photo de profil</li>
                        <li>Mes opérations: Récapitulatif de vos opérations, permet aussi de candidaté à de nouvelles opérations</li>
                        <li>Boite à idées: Permet de déposer une idée d'amélioration à Charlestown</li>
                    </ul>
                    <h3>Le covoiturage: Permet de proposer ou postuler à un coivoiturage organisé par la communauté de Charlestown</h3>
                    <h3>Bourse aux compétences: Permet de proposer ou postuler à un cours organisé par la communauté de Charlestown</h3>
                    <h3>Bourse aux compétences: Permet de proposer ou répondre à une annonce émise par la communauté de Charlestown</h3>
                </div>
            {% endif %}
    </div>
    <div class="section">
        <img src="{{ asset("images/presentation/footer.png") }}" style="margin-top: -7%;margin-left: 20%;height: 27px;width: auto;">
        <h1 style="margin-bottom: 2%;margin-left:8%;margin-top: 0%;">Pied de page</h1>
        <div style="margin-top:-1%;margin-left:13%;font-size:18px;">
            <h3>Chat en direct: Permet de discuter en direct avec l'ensemble de la communauté Charlestown</h3>
            <h3>Contacter un administrateur: Permet de contacter l'administrateur de l'espace collaborateur Charlestown, en cas de problème technique avec l'utilisateur du site uniquement</h3>
            <h3>Mentions légales de l'espace collaborateur Charlestown, merci d'en prendre note</h3>
        </div>
    </div>
</div>
<script>
    function setActive(variable){
        if(variable == 'a'){
            $("#b").parent().removeClass("active");
            $("#c").parent().removeClass("active");
            $("#d").parent().removeClass("active");
            $("#a").parent().addClass("active");
        }
        else if(variable == 'b'){
            $("#a").parent().removeClass("active");
            $("#c").parent().removeClass("active");
            $("#d").parent().removeClass("active");
            $("#b").parent().addClass("active");
        }
        else if(variable == 'c'){
            $("#a").parent().removeClass("active");
            $("#b").parent().removeClass("active");
            $("#d").parent().removeClass("active");
            $("#c").parent().addClass("active");
        }
        else if(variable == 'd'){
            $("#a").parent().removeClass("active");
            $("#c").parent().removeClass("active");
            $("#b").parent().removeClass("active");
            $("#d").parent().addClass("active");
        }
    }
</script>

{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.js"></script>
    <script src="{{ asset('bundles/charlestowncore/js/vegas.min.js.map') }}"></script>
    <script src="{{ asset('bundles/charlestowncore/js/vegas.js') }}"></script>
    <script src="{{ asset('bundles/charlestowncore/js/vegas.min.js') }}"></script>
    <script src="{{ asset('bundles/charlestowncore/js/main.js') }}"></script>
    <script src="{{ asset('bundles/charlestowncore/js/jquery.fullPage.js') }}"></script>
    <script>$("body").vegas({
            delay: 7000,
            timer: false,
            shuffle: true,
            transition: 'zoomOut2',
            transitionDuration: 2000,
            slides: [
                { src: "../images/slide/bg1.jpg" },
            ]
        });</script>
    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage({
                //Navigation
                menu: '#menu',
                lockAnchors: false,
                anchors:['firstPage', 'secondPage', '3rdPage', '4thpage'],
                navigation: false,
                navigationPosition: 'right',
                navigationTooltips: ['firstSlide', 'secondSlide', '3rdPage', '4thpage'],
                showActiveTooltip: false,
                slidesNavigation: false,
                slidesNavPosition: 'bottom',

                //Scrolling
                css3: true,
                scrollingSpeed: 700,
                autoScrolling: true,
                fitToSection: true,
                fitToSectionDelay: 1000,
                scrollBar: false,
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                continuousVertical: false,
                normalScrollElements: '#element1, .element2',
                scrollOverflow: false,
                touchSensitivity: 15,
                normalScrollElementTouchThreshold: 5,

                //Accessibility
                keyboardScrolling: true,
                animateAnchor: true,
                recordHistory: true,

                //Design
                controlArrows: true,
                verticalCentered: true,
                resize : false,
                sectionsColor : ['#CC5500','#CC5500','#CC5500','#CC5500'],
                paddingTop: '3em',
                paddingBottom: '10px',
                fixedElements: '#header, .footer',
                responsiveWidth: 0,
                responsiveHeight: 0,

                //Custom selectors
                sectionSelector: '.section',
                slideSelector: '.slide',

                //events
                onLeave: function(index, nextIndex, direction){},
                afterLoad: function(anchorLink, index){},
                afterRender: function(){},
                afterResize: function(){},
                afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
                onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
            });
        });
    </script>
{% endblock %}
</body>
</html>

