{% extends "::base.html.twig" %}
{% block title %} {{ parent() }} - Collaborateur{% endblock %}
{% block body %}
    {% include('CharlestownFileBundle:Default:modal_file.html.twig') %}
    <div id="outer-wrap" style="height:100%;" xmlns="http://www.w3.org/1999/html">
        <nav class="mainNav">
            <img  class="menuFooterLogo" src="{{ asset('bundles/charlestowncore/images/logo_charlestown.png') }}">
            <div class="beforeNav">
                {% if user.picture %}
                    <img id="profilPhoto" src="{{ asset(user.picture.uploadRootDir  ~ user.picture.id ~ '.' ~ user.picture.alt) }}" class="beforeNavPhoto">
                    <button id="buttonPhoto" type="button" class="beforeNavPhotoButton btn btn-danger" style="visibility: hidden;border-radius:30px!important;" data-toggle="modal" data-target="#myModal">+</button>
                {% else %}
                        <img src="{{ asset('bundles/charlestowncore/images/nophoto.png') }}" class="beforeNavPhoto">
                    <button type="button" class="beforeNavPhotoButton btn btn-danger" style="border-radius:30px!important;" data-toggle="modal" data-target="#myModal">+</button>
                {% endif %}
                <div class="beforeNavName  hidden-xs">
                    <p>{{ user.firstName|capitalize }} {{ user.lastName|capitalize }}</p>
                </div>
            </div>
            <ul id="navigator">
                    <li class="{% if app.request.attributes.get('_route') starts with 'index' %}selected{% endif %}"><a href="#" class="bold"><span class="glyphicon glyphicon-home"></span>&nbsp;   ACCUEIL</a>
                    <ul>
                        <li id="newsli"><a href="{{ path('index_collaborator') }}#news">Vos News</a></li>
                        <li><a href="{{ path('index_collaborator') }}#activity">Nos activités</a></li>
                        <li><a href="{{ path('index_collaborator') }}#implantations">Nos implantations</a>
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') starts with 'mission' %}selected{% endif %}"><a href="#" class="bold"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;   MISSIONS</a>
                    <ul>
                        {% if is_granted('ROLE_AE') %}
                        <li><a href="{{ path('mission_demande') }}">Mes demandes</a></li>
                        <li><a href="{{ path('mission_evaluation') }}">Mes évaluations</a></li>
                        <li><a href="{{ path('mission_client') }}">Mon affectation</a></li>
                        {% elseif is_granted('ROLE_EVENT') %}
                        <li><a href="{{ path('mission_operation') }}">Mes opérations</a></li>
                        {% endif %}
                        <li><a href="{{ path('mission_collaborator') }}#former">Me former</a></li>
                        <li><a href="{{ path('mission_collaborator') }}#regles">Règles d'or</a></li>
                        <li><a href="{{ path('mission_collaborator') }}#politique">Politique générale</a></li>
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') starts with 'social' %}selected{% endif %}"><a href="#" class="bold"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;   LES PLUS</a>
                    <ul>
                        <li><a href="{{ path('social_chat_collaborator') }}">Chat</a></li>
                        <li><a href="{{ path('social_carpooling') }}">Covoiturage</a></li>
                        <li><a href="{{ path('social_lesson') }}">Bourse aux compétences</a></li>
                        <li><a href="{{ path('social_announcment') }}">Petites annonces</a></li>
                        <li><a href="{{ path('social_ideabox_new') }}">Boîte à idées</a></li>
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') starts with 'info' %}selected{% endif %}"><a href="#" class="bold"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;   INFOS PRATIQUES</a>
                    <ul>
                        <li><a href="{{ path('info_contact') }}#agency">Mon agence</a></li>
                        <li><a href="{{ path('info_contact') }}#contact">Contacts Charlestown</a></li>
                        <li><a href="{{ path('info_contact') }}#personnel">Représentants du personnel</a></li>
                        <li><a href="{{asset('/download/ri.pdf') }}" download="règlement_intérieur_CHARLESTOWN.pdf">Règlement intérieur</a></li>
                        <li><a href="{{asset('/download/eleas.pdf') }}" download="soutien_psychologique_ELEAS.pdf">Soutien psychologique</a></li>
                        <li><a href="https://cecil.cilgere.fr/Cecil/jsp/login.jsp">1% logement</a></li>
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') starts with 'fos' %}selected{% endif %}"><a href="#" class="bold"><span class="glyphicon glyphicon-cog"></span>&nbsp;   PARAMÈTRES</a>
                    <ul>
                        <li><a  class="{% if app.request.attributes.get('_route') starts with 'fos_user' %}active{% endif %}" href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
                        {% if user.swapable %}
                        <li><a href="{{ path('change_role_collaborator') }}">Changer d'interface</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Interface admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_cgu') }}">CGU</a></li>
                        <li><a href="{{ path('fos_mention') }}">Mentions légales</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
                {#<li><a href="calendar.html" class="bold"><span class="glyphicon glyphicon-calendar"></span>&nbsp;   MON CALENDRIER</a></li>#}
            </ul>
            <div class="menuFooter" style="color:white; bottom:5px;position: absolute; font-size: 26px;">
                <a style="color:white;" href="https://www.youtube.com/user/charlestownaccueil"><i class="fa fa-youtube" aria-hidden="true" ></i></a>
                <a style="color:white;" href="https://www.facebook.com/charlestownrecrutement/"><i class="fa fa-facebook" aria-hidden="true" style="margin-left: 15px;"></i></a>
                <a style="color:white;" href="https://twitter.com/Charlestown_fr"><i class="fa fa-twitter" aria-hidden="true" style="margin-left: 15px;"></i></a>
                <a style="color:white;" href="https://fr.linkedin.com/company/iss-accueil-et-services-charlestown"><i class="fa fa-linkedin" aria-hidden="true"style="margin-left: 15px;"></i></a>
                <a style="color:white;" href="https://nl.pinterest.com/CharlestownFR/"><i class="fa fa-pinterest" aria-hidden="true" style="margin-left: 15px;"></i></a>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}