{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px;">
                <nav class="navbar navbar-default secondNav">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" style="width:100%;">
                                <li class="active" role="presentation"><a href="{{ path('operation') }}">Opérations</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="" role="presentation"><a href="{{ path('my_operation_applications') }}">Mes candidatures</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="" role="presentation"><a href="{{ path('my_operation_applications_history') }}">Historique</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr/>
            </div>
            <div class="modal-body" style="padding-top: 0px; color:black;">
                {% set empty = true %}
                {% for operation in operations %}
                    {% if operation.active %}
                            {% set empty = false %}
                            <table class="table" style="background-color: #ffffff;border-radius:10px;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">
                                            {{ operation.name }} pour {{ operation.customer.companyName }} à {{ operation.localisation }}
                                            {{ operation.dateStart | localizeddate('full', 'none') }} au {{ operation.dateEnd | localizeddate('full', 'none') }}
                                        </th>
                                        <th></th>
                                        <th><a class="btn btn-success" href="{{ path('operation_show', {'id':operation.id}) }}">Afficher</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for timeslot in operation.timeslots %}
                                        {% set applied = false %}
                                        {% for application in applications %}
                                            {% if application.operation == operation %}
                                                {% if application.timeslot == timeslot %}
                                                    {% set applied = true %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if applied == false %}
                                            <tr>
                                                <td>#{{ loop.index }}</td>
                                                <td>{{ timeslot }}</td>
                                                <td><a class="btn btn-success" href="{{ path('operation_apply', {'id':operation.id,'timeslot':timeslot.id}) }}">Postuler</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                    {% endif %}
                {% endfor %}
                {% if empty == true %}
                    <div class="textAlignCenter ">
                        <h4 style="color:white;">Il n'y a pas d'opérations disponible pour le moment, veuillez revenir plus tard.</h4>
                    </div>
                {% endif %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}
