{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container" style="width:80%; margin-left:20%; max-width:80%; height:100%;">
        <div class="row" style="height:75%;">
            <div class="col-md-12" id="demand" style="height:10%;">
                <div class="legendes">
                    <span class="legende" style="background-color: white">Opération en cours</span>
                    <span class="legende" style="background-color: yellow">Candidature en cours</span>
                    <span class="legende" style="background-color: green">Candidature acceptée</span>
                    <span class="legende" style="background-color: red">Opération booker</span>
                </div>
                <h2 class="bigTitle">VOS OPÉRATIONS</h2>
                <hr>
                <div id="calendar" style="height:90%;"></div>
            </div>
        </div>
        <div class="row" style="height:25%; padding: 0;">
            <div class="col-md-12">
                <div class="collapse in">
                    <div class="well center">
                        <h2>Pour postuler, cliquez sur un élément du calendrier !</h2>
                    </div>
                </div>
                {% for operation in operations %}
                    {% for timeslot in operation.timeslots %}
                        {% set apply = false %}
                        {% for appliance in timeslot.appliances %}
                            {% if appliance.event == user %}
                                {% if appliance.accepted %}
                                    <div class="collapse" id="{{ operation.id }}{{ timeslot.id }}">
                                        <div class="well center">
                                            <h2>{{ operation.name }}</h2>
                                            <p>{{ operation.mission }}</p>
                                            <p>Vous êtes booker sur l'opération !</p>
                                            <p><a class="btn btn-danger" href="{{ path('mission_fileoperation_new', {'operation' : operation.id}) }}">Ajouter des photos</a></p>
                                        </div>
                                    </div>
                                {% elseif appliance.accepted is null %}
                                    <div class="collapse" id="{{ operation.id }}{{ timeslot.id }}">
                                        <div class="well center">
                                            <h2>{{ operation.name }}</h2>
                                            <p>{{ operation.mission }}</p>
                                            <p>Votre demande est en cours de traitement.</p>
                                            <a class="btn btn-info" href="{{ path('operation_apply_remove', {'id' : appliance.id}) }}">Retirer</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="collapse" id="{{ operation.id }}{{ timeslot.id }}">
                                        <div class="well center">
                                            <h2>{{ operation.name }}</h2>
                                            <p>{{ operation.mission }}</p>
                                            <p>Il ne reste plus de place sur cette opération.</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% set apply = true %}
                            {% endif %}
                        {% endfor %}
                        {% if apply == false  %}
                            {% if operation.active  %}
                            <div class="collapse" id="{{ operation.id }}{{ timeslot.id }}">
                                <div class="well center">
                                    <h2>{{ operation.name }}</h2>
                                    <p>{{ operation.mission }}</p>
                                    <a class="btn btn-danger" href="{{ path('operation_apply', {'id':operation.id,'timeslot':timeslot.id}) }}">Postuler</a>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% for operation in operations %}
        {% for timeslot in operation.timeslots %}
        alert("{{ timeslot.start|date("Y-m-d:H:i") }}");
        {% endfor %}
        {% endfor %}
        jQuery(document).ready(function(){
            var calendar = $('#calendar').fullCalendar({
                header:true,
                height:475,
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'agendaDay,basicWeek,month,next'
                },
                lang: 'fr',
                timezone: "Europe/Paris",
                defaultView: "basicWeek",
                views: {
                    week: {
                        displayEventEnd: true
                    },
                    day: {
                        displayEventEnd: true
                    },
                    month: {
                        displayEventEnd: true
                    }
                },
                events: [
                    {% for operation in operations %}
                        {% for timeslot in operation.timeslots %}
                            {% set apply = false %}
                            {% for appliance in timeslot.appliances %}
                                {% if appliance.event == user %}
                                {
                                    id: {{ operation.id }}{{ timeslot.id }},
                                    title: "{{ operation.name }}",
                                    start: "{{ timeslot.start|date("Y-m-d") }}T{{ timeslot.start|date("H:i") }}",
                                    end: "{{ timeslot.end|date("Y-m-d")  }}T{{ timeslot.end|date("H:i") }}",
                                    {% if appliance.accepted %}
                                    color: "green",
                                    backgroundColor: "green",
                                    textColor: "white",
                                    {% elseif appliance.accepted is null %}
                                    color: "yellow",
                                    backgroundColor: "yellow",
                                    textColor: "black",
                                    {% else %}
                                    color: "red",
                                    backgroundColor: "red",
                                    textColor: "white",
                                    {% endif %}
                                    allDay: false
                                },
                                {% set apply = true %}
                                {% endif %}
                            {% endfor %}
                            {% if apply == false %}
                                {
                                    id: {{ operation.id }}{{ timeslot.id }},
                                    title: "{{ operation.name }}",
                                    start: "{{ timeslot.start|date("Y-m-d") }}T{{ timeslot.start|date("H:i") }}",
                                    end: "{{ timeslot.end|date("Y-m-d")  }}T{{ timeslot.end|date("H:i") }}",
                                    color: "black",
                                    allDay: false,
                                    backgroundColor: "white",
                                    textColor: "black"
                                },
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                ],
                timeFormat: 'H(:mm)',
                eventClick: function(calEvent, jsEvent, view) {
                    $( ".collapse" ).each(function() {
                        $(this).removeClass("in");
                    });
                    $("#"+ calEvent.id).addClass("in");
                }
            });
        });
    </script>
{% endblock %}
