{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px;">
                <nav class="navbar navbar-default secondNav">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" style="width:100%;">
                                <li class="" role="presentation"><a href="{{ path('operation') }}">Opérations</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="" role="presentation"><a href="{{ path('my_operation_applications') }}">Mes candidatures</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="active" role="presentation"><a href="{{ path('my_operation_applications_history') }}">Historique</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr/>
            </div>
            <div class="modal-body" style="padding-top: 0px; color:black;">
                <table class="table table-bordered">
                    <thead style="background-color: white;">
                        <tr>
                            <th>Opération</th>
                            <th>Lieu</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Horaire</th>
                            <th>Détail</th>
                            <th>Brief</th>
                            <th>Etat de la demande</th>
                            <th data-toggle="tooltip" data-placement="right" title="Il faut être accepté pour y avoir accès">Url rapport</th>
                            <th>Upload photo</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        {% if application.operation.dateEnd|date('d - m -Y') > 'now'|date('d - m -Y') %}
                            {% if application.accepted == true %}
                                <tr style="background-color: lightskyblue;">
                            {% elseif application.dateResp == null %}
                                <tr style="background-color: lightyellow;">
                            {% else %}
                                <tr style="background-color: indianred;">
                            {% endif %}
                                <td>{{ application.operation.name }}</td>
                                <td>{{ application.operation.localisation }}</td>
                                <td>{{ application.operation.dateStart | localizeddate('full', 'none') }}</td>
                                <td>{{ application.operation.dateEnd | localizeddate('full', 'none') }}</td>
                                <td>{{ application.timeslot }}</td>
                                <td><a style="color:indianred;" href="{{ path('operation_show', {'id':application.operation.id}) }}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                                {% if application.operation.brief %}
                                    <td><a style="color:indianred;" href="{{ asset(application.operation.brief.uploadRootDir  ~ application.operation.brief.id ~ '.' ~ application.operation.brief.alt) }}"  download="{{application.operation.brief.nameShow ~ '.' ~ application.operation.brief.alt}}"><span class="glyphicon glyphicon-file"></span></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>
                                    {% if application.accepted == true %}
                                        Confirmé
                                    {% elseif application.dateResp == null %}
                                        En attente
                                    {% else %}
                                        Non retenu
                                    {% endif %}
                                </td>
                                <td>
                                    {% if application.accepted == true %}
                                        <a href="{{ application.operation.urlReport }}"><span class="glyphicon glyphicon-folder-open" style="color:red;"></span></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if application.accepted == true %}
                                        <a href="{{ path('fileoperation_new', {'operation' : application.operation.id}) }}"><span class="glyphicon glyphicon-plus" style="color:red;"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}
