{% extends 'CharlestownCollaboratorBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0px;">
            <nav class="navbar navbar-default secondNav">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="width:100%;">
                            <li class="" role="presentation"><a href="{{ path('operation') }}">Opérations</a></li>
                            <li class="divider-vertical-second"></li>
                            <li class="" role="presentation"><a href="{{ path('my_operation_applications') }}">Mes candidatures</a></li>
                            <li class="divider-vertical-second"></li>
                            <li class="active" role="presentation"><a href="#">Visualisation</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <hr/>
        </div>
        <div class="modal-body">
            <h2>Client</h2>
            <div style="text-align: center;">
                <img class="rounded-image" style="width:150px; height:150px; float:none; border-style: solid; border-color:white; border-width:2px;" src="{{ asset(operation.customer.picture.uploadRootDir  ~ operation.customer.picture.id ~ '.' ~ operation.customer.picture.alt) }}"/><br/>
                {{ operation.customer.companyName }}<br/>
                {{ operation.customer.email }}<br/>
                {{ operation.customer.address }}<br/>
                {{ operation.customer.town }} {{ operation.customer.pc }} <br/>
                {{ operation.customer.phoneNumber }}
            </div>
        </div>
        <div class="modal-body">
            <h2>L'opération</h2>
            <div style="text-align: center;">
                Places restantes : {{ operation.rooms }}<br/>
                Type d'opération : {{ operation.type }}<br/>
                Lieu : {{ operation.localisation }}<br/>
                Horaires : {{ operation.dayLength }}<br/>
                Mission : {{ operation.mission }}<br/>
                Date de début : {{ operation.dateStart | localizeddate('full', 'none') }}<br/>
                Date de fin : {{ operation.dateEnd | localizeddate('full', 'none') }}<br/>
                Brief : <a href="{{ asset(operation.brief.uploadRootDir  ~ operation.brief.id ~ '.' ~ operation.brief.alt) }}"  download="{{operation.brief.nameShow ~ '.' ~ operation.brief.alt}}"><span class="glyphicon glyphicon-file" style="color:red;"></span></a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
