{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container charlestown-container">
        <div class="row charlestown-row">
            <div class="charlestown-title">
                <h2>VOS INFORMATIONS</h2>
            </div>
            <div class="col-md-6" style="text-align:right;"><br/>
                Matricule : {{ user.username }} <span class="glyphicon glyphicon-user" style="color:red;"></span> <br/><br/>
                Email : {{ user.email }} <i class="fa fa-at" style="color:red;"></i> <br/><br/>
                {% if user.phoneNumber %}
                    Téléphone : {{ user.phoneNumber }} <span class="glyphicon glyphicon-phone-alt" style="color:red;"></span>  <br/><br/>
                {% endif %}
                {% if user.portPhoneNumber %}
                   Téléphone portable : {{ user.portPhoneNumber }} <span class="glyphicon glyphicon-phone" style="color:red;"></span>  <br/><br/>
                {% endif %}
            </div>
            <div class="col-md-6" style="text-align:left;"><br/>
                {% if user.lastName %}
                <span class="glyphicon glyphicon-tree-conifer" style="color:red;"></span> Nom : {{ user.lastName }} <br/><br/>
                {% endif %}
                {% if user.firstName %}
                <span class="glyphicon glyphicon-apple" style="color:red;"></span> Prénom : {{ user.firstName }} <br/><br/>
                {% endif %}
                {% if user.birthDate %}
                <i class="fa fa-birthday-cake" style="color:red;"></i> Anniversaire : {{ user.birthDate | date("m/d/Y", "Europe/Paris") }} <br/><br/>
                {% endif %}
                {% if user.address and user.pc and user.town %}
                <i class="fa fa-home" style="color:red;"></i> Adresse : {{ user.address }} {{ user.pc }} {{ user.town }} <br/><br/>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if user.picture %}
                    <img id="profilPhoto" src="{{ asset(user.picture.uploadRootDir  ~ user.picture.id ~ '.' ~ user.picture.alt) }}" class="beforeNavPhoto">
                {% else %}
                    <img src="{{ asset('bundles/charlestowncore/images/nophoto.png') }}" class="beforeNavPhoto">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
