{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px;">
                <nav class="navbar navbar-default secondNav">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" style="width:100%;">
                                <li class="" role="presentation"><a href="{{ path('lesson') }}">Cours proposés</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="" role="presentation"><a href="{{ path('mylesson_applications') }}">Je suis élève</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="divider-vertical-second" style="float:right;"></li>
                                <li class="active" role="presentation" style="float:right"><a href="{{ path('mylessons') }}">Je suis prof</a></li>
                                <li class="divider-vertical-second" style="float:right;"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr/>
            </div>
            <div class="modal-body" style="padding-top: 0px; color:black;">
                <div class="textAlignCenter">
                    <a class="btn btn-danger" href="{{ path('lesson_new') }}">Nouveau cours</a>
                </div>
                {% for lesson in lessons %}
                    <div class="row" style="margin:15px; background-color: white; border-radius: 8px; height:100px;">
                        <div class="col-md-12" style="height:100%;">
                            <p style="line-height: 50px;">{{ lesson.localisation }} au {{ lesson.address }}, {{ lesson.town }} {{ lesson.pc }} <span class="glyphicon glyphicon-menu-right"></span> de {{ lesson.startAt | localizeddate('full', 'none') }} à {{ lesson.endAt | localizeddate('full', 'none') }} || Places : {{ lesson.room }} || {{ lesson.type }} <a class="btn btn-xs btn-success" href="{{ path('lesson_edit', {'id' : lesson.id, 'user' : user.id}) }}">Modifier</a></p>
                            En attente :
                    {% if not lesson.studentsApplicants is empty %}
                        {% for applicant in lesson.studentsApplicants %}
                            {{ applicant.firstName }} {{ applicant.lastName }}
                            <a href="{{ path('fos_otheruser_profile_show', {'user': applicant.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('select_lesson', {'id':lesson.id, 'user': applicant.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
                            <a href="{{ path('unapply_lesson', {'id':lesson.id, 'user': applicant.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endfor %}
                    {% endif %}
                            <br/>  Accepter :
                    {% if not lesson.students is empty %}
                        {% for selected in lesson.students %}
                            {{ selected.firstName }} {{ selected.lastName }}
                            <a href="{{ path('fos_otheruser_profile_show', {'user': selected.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('unselect_lesson', {'id':lesson.id, 'user': selected.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endfor %}
                    {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}
