{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container" style="width:80%; margin-left:20%; max-width:80%;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bigTitle" style="text-align: right;">MON COURS</h2>
                <hr>
                <div class="form">
                    {{ form_start(form)}}
                    {{ form_widget(form.type, {'attr' : {'class' : 'champ', 'placeholder' : 'Nom'}}) }}
                    {{ form_widget(form.description, {'attr' : {'class' : 'champ', 'placeholder' : 'Description'}}) }}
                    {{ form_label(form.startAt) }}
                    {{ form_widget(form.startAt, {'attr' : {'class' : 'champ', 'placeholder' : 'Début'}}) }}
                    {{ form_label(form.endAt) }}
                    {{ form_widget(form.endAt, {'attr' : {'class' : 'champ', 'placeholder' : 'Fin'}}) }}
                    {{ form_label(form.room) }}
                    {{ form_widget(form.room, {'attr' : {'class' : 'champ', 'placeholder' : 'Places'}}) }}
                    {{ form_widget(form.localisation, {'attr' : {'class' : 'champ', 'placeholder' : 'Lieu'}}) }}
                    {{ form_widget(form.address, {'attr' : {'class' : 'champ', 'placeholder' : 'Adresse'}}) }}
                    {{ form_widget(form.town, {'attr' : {'class' : 'champ', 'placeholder' : 'Ville'}}) }}
                    {{ form_widget(form.pc, {'attr' : {'class' : 'champ', 'placeholder' : 'Code postal'}}) }}
                    <div>
                        <input class="bouton" style="margin-bottom:150px;"type="submit" value="Envoyer" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}