{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {{ parent() }}

    <div class="container" style="width:20%; margin-top:100px; margin-bottom:100px;">
        <div class="info">
        </div>
        <div class="form">
            <div class="thumbnail"><img src=" {{ asset('images/logo_charlestown_w.png') }}" class="img-responsive" alt="logo"></div>

            <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <input class="champ" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username..." />

                <input class="champ" type="password" id="password" name="_password" required="required" placeholder="password..."  />

                <label for="remember_me">Se souvenir de moi</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <input class="bouton" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
            {% if error %}
                <div style="color:red; margin-top:5px; font-size: 15px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>



{% endblock %}