{% extends 'CharlestownCollaboratorBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Mes contacts agence</h2>
        </div>
        <div class="modal-body">
            {% if user.agency %}
            <h2>Numéro d'urgence : {{ user.agency.numeroUrgence }}</h2>
            <h2>Responsable client</h2>
            <table class="table table-condensed">
                <thead>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                </thead>
                <tbody>
                    <tr>
                        {% if user.agency.customerManager %}
                        <td>{{ user.agency.customerManager.username }}</td>
                        <td>{{ user.agency.customerManager.email }}</td>
                        <td>{{ user.agency.customerManager.phoneNumber }}</td>
                        {% else %}
                        <td>Pas de responsable</td>
                        <td>Contactez Charlestown</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table> <br/><br/>
            <h2>Responsable planning</h2>
            <table class="table table-condensed">
                <thead>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                </thead>
                <tbody>
                    <tr>
                        {% if user.agency.planningCoordinator %}
                        <td>{{ user.agency.planningCoordinator.username }}</td>
                        <td>{{ user.agency.planningCoordinator.email }}</td>
                            <td>{{ user.agency.customerManager.phoneNumber }}</td>
                        {% else %}
                            <td>Pas de responsable</td>
                            <td>Contactez Charlestown</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% else %}
                <p>Vous n'avez pas d'affectation, contactez Charlestown.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
