{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container charlestown-container">
        <div class="row charlestown-row">
            <div class="charlestown-title">
                <h2>BOÎTE À IDÉES</h2>
            </div>
            <div class="col-md-12 charlestown-col-md-12">
                {% if alert %}
                    <div class="alert alert-warning" style="width:70%; margin:auto; margin-top:75px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Merci de votre participation, nous vous contacterons rapidement pour approfondir votre idée.
                    </div>
                    <br/>
                {% else %}
                    <div class="alert alert-warning" style="width:70%; margin:auto; margin-top:75px; visibility: hidden;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Merci de votre participation, nous vous contacterons rapidement pour approfondir votre idée.
                    </div>
                    <br/>
                {% endif %}
                <hr>
                <div class="form">
                    {{ form_start(form)}}
                    {{ form_widget(form.title, {'attr' : {'class' : 'champ', 'placeholder' : 'titre'}}) }}
                    {{ form_widget(form.description, {'attr' : {'class' : 'champ', 'placeholder' : 'description'}}) }}
                    <div>
                        <input class="bouton" style="margin-bottom:150px;"type="submit" value="Envoyer" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}