{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="modal-dialog"  style=" height: 100%!important;">
        <div class="modal-content"  style=" height: 100%!important;">
            <div class="modal-header" style="padding-bottom: 0px;">
                <nav class="navbar navbar-default secondNav">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" style="width:100%;">
                                <li class="" role="presentation"><a href="{{ path('carpooling') }}">Covoiturages proposés</a></li>
                                <li class="divider-vertical-second"></li>
                                <li class="" role="presentation"><a href="{{ path('mycarpoolings_demand') }}">Je suis passager</a></li>
                                <li class="divider-vertical-second"></li>

                                <li class="divider-vertical-second" style="float:right;"></li>
                                <li class="active" style="float:right;" role="presentation"><a href="{{ path('mycarpoolings') }}">Je suis conducteur</a></li>
                                <li class="divider-vertical-second"style="float:right;"> </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr/>
            </div>
            <div class="modal-body" style="padding-top: 0px; color:black;">

                <div class="textAlignCenter">
                    <a class="btn btn-danger" href="{{ path('covoiturage_new') }}">Nouveau</a>
                </div>
                {% for carpool in carpoolings %}
                    <div class="row" style="margin:15px; background-color: white; border-radius: 8px; height:100px;">
                        <div class="col-md-12" style="height:100%;">
                            <p style="line-height: 50px;">{{ carpool.startPlace }} <span class="glyphicon glyphicon-menu-right"></span> {{ carpool.endPlace }} le {{ carpool.dateTravel | localizeddate('full', 'none') }} || Places : {{ carpool.room }} <a class="btn btn-xs btn-success" href="{{ path('covoiturage_edit', {'id' : carpool.id}) }}">Modifier</a></p>
                                 En attente :
                                {% if not carpool.applicants is empty %}
                                    {% for applicant in carpool.applicants %}
                                        {{ applicant.firstName }} {{ applicant.lastName }} {{ applicant.phoneNumber }}
                                        <a href="{{ path('fos_otheruser_profile_show', {'user': applicant.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                                        <a href="{{ path('select_carpooling', {'id':carpool.id, 'user': applicant.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
                                        <a href="{{ path('unapply_carpooling', {'id':carpool.id, 'user': applicant.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endfor %}
                                {% endif %}
                                <br/>  Accepter :
                                {% if not carpool.selected is empty %}
                                    {% for selected in carpool.selected %}
                                        {{ selected.firstName }} {{ selected.lastName }} {{ selected.phoneNumber }}
                                        <a href="{{ path('fos_otheruser_profile_show', {'user': selected.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                                        <a href="{{ path('unselect_carpooling', {'id':carpool.id, 'user': selected.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endfor %}
                                {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}
