{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <style>
        .row{
            margin:25px;
        }
        .ad{
            background-color: white;
        }
    </style> <!-- TODO: mettre dans main et vérifier compatibilité -->
    <div class="container" id="announcment" style="width:80%; margin-left:20%; max-width:80%; min-height:100%; background-color: #ededed;">
        <div class="row" style="text-align:center; background-color: white; position:relative;">
            <br/>
            <a class="btn btn-large btn-danger" href="{{ path('social_carpooling') }}">Retour</a>
            <br/><br/>
        </div>
        <div class="row">
            {% set i = 0 %}
            <h2>Accepté</h2>
            {% for carpool in selections %}
                {% set i = i + 1 %}
                <div class="col-md-2 ad" style="border: 1px solid grey; border-radius: 5px; height: 400px; text-align: center;">
                    <br/>
                    <div style="height:30%;">
                        {% set random = random(4) %}
                        {% if random == 0 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car1.png') }}">
                        {% elseif random == 1 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car2.png') }}">
                        {% elseif random == 2 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car3.png') }}">
                        {% elseif random == 3 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car4.png') }}">
                        {% elseif random == 4 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car5.png') }}">
                        {% endif %}
                    </div>
                    <div style="height:50%;">
                        <br/>
                        <p>{{ carpool.startPlace }}</p>
                        <i class="fa fa-chevron-circle-down"></i>
                        <p>{{ carpool.endPlace }}</p>
                        <p>{{ carpool.room }} places</p>
                        <p>{{ carpool.dateTravel | localizeddate('full', 'none') }}</p>
                        <a class="btn btn-success" href="{{ path('unselect_carpooling', {'id' : carpool.id, 'user' : user.id}) }}">Quitter</a>
                    </div>
                </div>
                {% if i % 4 == 0 %}
                    <div class="row" style="margin-top:25px;"></div>
                {% elseif i % 2 == 0 %}
                    <div class="col-md-2"></div>
                {% else %}
                    <div class="col-md-1"></div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% set i = 0 %}
            <h2>Candidature</h2>
            {% for carpool in applications %}
                {% set i = i + 1 %}
                <div class="col-md-2 ad" style="border: 1px solid grey; border-radius: 5px; height: 400px; text-align: center;">
                    <br/>
                    <div style="height:30%;">
                        {% set random = random(4) %}
                        {% if random == 0 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car1.png') }}">
                        {% elseif random == 1 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car2.png') }}">
                        {% elseif random == 2 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car3.png') }}">
                        {% elseif random == 3 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car4.png') }}">
                        {% elseif random == 4 %}
                            <img class=" beforeNavPhoto menuFooterLogo" style="margin-left: 20px;" src="{{ asset('images/car5.png') }}">
                        {% endif %}
                    </div>
                    <div style="height:50%;">
                        <br/>
                        <p>{{ carpool.startPlace }}</p>
                        <i class="fa fa-chevron-circle-down"></i>
                        <p>{{ carpool.endPlace }}</p>
                        <p>{{ carpool.room }} places</p>
                        <p>{{ carpool.dateTravel | localizeddate('full', 'none') }}</p>
                        <a class="btn btn-success" href="{{ path('unapply_carpooling', {'id' : carpool.id, 'user' : user.id}) }}">Retirer</a>
                    </div>
                </div>
                {% if i % 4 == 0 %}
                    <div class="row" style="margin-top:25px;"></div>
                {% elseif i % 2 == 0 %}
                    <div class="col-md-2"></div>
                {% else %}
                    <div class="col-md-1"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
