{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="container" style="width:80%; margin-left:20%; max-width:80%;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bigTitle" style="text-align: right;">MON COURS</h2>
                <hr>
                <div class="form">
                    {{ form_start(form)}}
                    {{ form_widget(form.startPlace, {'attr' : {'class' : 'champ', 'placeholder' : 'Lieu de départ... ex: 5 rue Fondary 75015 Paris'}}) }}
                    {{ form_widget(form.endPlace, {'attr' : {'class' : 'champ', 'placeholder' : 'Lieu d\'arivée'}}) }}
                    {{ form_label(form.room) }}
                    {{ form_widget(form.room, {'attr' : {'class' : 'champ', 'placeholder' : 'Places'}}) }}
                    {{ form_label(form.dateTravel) }}
                    {{ form_widget(form.dateTravel, {'attr' : {'class' : 'champ', 'placeholder' : 'Heure de départ'}}) }}
                    <div>
                        <input class="bouton" style="margin-bottom:150px;" type="submit" value="Envoyer" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}