{% extends 'CharlestownCustomerBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <nav class="navbar navbar-default secondNav">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="event-tab" role="presentation" class="active">
                                    <a   role="tab"   data-toggle="tab" aria-controls="event" aria-expanded="true">Evenementiel</a>
                                </li>
                                <li id="ae-tab" class="" role="presentation">
                                    <a href="{{ path('uniform_ae') }}">Accueil en Entreprise</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="event" aria-labelledby="event-tab">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#new" id="new-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Nouvelle collection</a>
                                            </li>
                                            <li class="" role="presentation">
                                                <a aria-expanded="false" href="#old" role="tab" id="old-tab" data-toggle="tab" aria-controls="profile">Book perso</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="new" aria-labelledby="new-tab">
                                                <div class="container" style="margin-top: 25px; margin-bottom: 25px; width:100%;">
                                                    {% for new in newUniformsEvent %}
                                                        {% if loop.index % 2 != 0 %}
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div class="textAlignCenter" style="font-size:20px;">
                                                                        {% if new != user.uniformEvent %}
                                                                            {{ new.nameShow }} <a class="btn btn-danger" href="{{ path('set_uniform', {'type' : "event", 'id' : new.id}) }}">Choisir</a>
                                                                        {% else %}
                                                                            {{ new.nameShow }} <a class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                                        {% endif %}
                                                                    </div><br/>
                                                                    <img class="uniformResize" src="{{ asset(new.uploadRootDir  ~ new.id ~ '.' ~ new.alt) }}"/>
                                                                </div>
                                                                <div class="col-md-1"></div>
                                                        {% else %}
                                                                <div class="col-md-5">
                                                                    <div class="textAlignCenter" style="font-size:20px;">
                                                                        {% if new != user.uniformEvent %}
                                                                            {{ new.nameShow }} <a class="btn btn-danger" href="{{ path('set_uniform', {'type' : "event", 'id' : new.id}) }}">Choisir</a>
                                                                        {% else %}
                                                                            {{ new.nameShow }} <a class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                                        {% endif %}
                                                                    </div><br/>
                                                                    <img class="uniformResize" src="{{ asset(new.uploadRootDir  ~ new.id ~ '.' ~ new.alt) }}"/>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        {% if loop.last and loop.index % 2 != 0 %}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            <div role="tabpanel" class="tab-pane fade" id="old" aria-labelledby="old-tab">
                                                <div class="container" style="margin-top: 25px; margin-bottom: 25px; width:100%;">
                                                {% if oldUniformsEvent != false %}
                                                    {% for old in oldUniformsEvent %}
                                                        {% if loop.index % 2 != 0 %}
                                                            <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="textAlignCenter" style="font-size:20px;">
                                                                    {% if old != user.uniformEvent %}
                                                                        {{ old.nameShow }} <a class="btn btn-danger" href="{{ path('set_uniform', {'type' : "event", 'id' : old.id}) }}">Choisir</a>
                                                                    {% else %}
                                                                        {{ old.nameShow }} <a class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                                    {% endif %}
                                                                </div><br/>
                                                                <img class="uniformResize" src="{{ asset(old.uploadRootDir  ~ old.id ~ '.' ~ old.alt) }}"/>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                        {% else %}
                                                            <div class="col-md-5">
                                                                <div class="textAlignCenter" style="font-size:20px;">
                                                                    {% if old != user.uniformEvent %}
                                                                        {{ old.nameShow }} <a class="btn btn-danger" href="{{ path('set_uniform', {'type' : "event", 'id' : old.id}) }}">Choisir</a>
                                                                    {% else %}
                                                                        {{ old.nameShow }} <a class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                                    {% endif %}
                                                                </div><br/>
                                                                <img class="uniformResize" src="{{ asset(old.uploadRootDir  ~ old.id ~ '.' ~ old.alt) }}"/>
                                                            </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <p>Pour avoir un book perso, merci de contacter votre responsable client.</p>
                                                {% endif %}
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <hr/>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
{% endblock %}
